<% layout("/layouts/boilerplate") %>
    <script>
        const mapToken = "<%= process.env.MAP_TOKEN %>";
        const listing = <%- JSON.stringify(listing) %>;
    </script>

    <body>
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <div class="mt-3">
                    <h3 class="listing-title">
                        <%=listing.title%>
                    </h3>
                </div>
                <div class="card show-card listing-card">
                    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-img">
                    <div class="listing-card-body mt-3">
                        <p class="listing-card-text">
                            <b>Hosted By: </b><i>
                                <%= listing.owner.username %>
                            </i>
                        </p>
                        <p class="listing-card-text">
                            <b>Description: </b>
                            <%=listing.description%>
                        </p>
                        <p class="listing-card-text">
                            <b>Cost: </b>
                            &#8377;
                            <%=listing.price.toLocaleString("en-In")%>
                        </p>
                        <p class="listing-card-text">
                            <b>Category:</b>
                            <%= listing.category %>
                        </p>
                        <p class="listing-card-text"><b>Location:&nbsp;&nbsp;</b><i
                                class="fa-solid fa-location-dot">&nbsp;</i>
                            <%= listing.location %>
                        </p>
                        <p class="listing-card-text"><b>Country:&nbsp;&nbsp;</b><i class="fa-solid fa-globe">&nbsp;</i>
                            <%= listing.country %>
                        </p>
                    </div>
                </div>
                <div class="show-btns d-flex flex-column flex-md-row justify-content-center gap-2 gap-md-3">
                    <form action="/listings/<%=listing._id%>/reservelisting" method="GET">
                        <button class="btn btn-success reserve-btn">Reserve</button>
                    </form>
                </div>
                <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
                    <div class="show-btns d-flex flex-column flex-md-row justify-content-center gap-2 gap-md-3 mt-3">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-danger mb-2 mb-md-0">Edit this
                            Listing</a>
                        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-dark">Delete this Listing</button>
                        </form>
                    </div>
                    <%}%>
                        <% if(currUser){%>
                            <div class="col-6 offset-3">
                                <hr>
                            </div>

                            <div class="mt-3">
                                <h4>Leave a Review</h4>
                                <form class="mt-3 needs-validation" novalidate
                                    action="/listings/<%= listing._id %>/reviews" method="POST">
                                    <div class="mt-3">
                                        <label class="form-label" for="rating">Rating</label>
                                        <fieldset class="starability-slot">
                                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                                value="1" checked aria-label="No rating." />
                                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                            <label for="first-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                            <label for="first-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                            <label for="first-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                            <label for="first-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="comment">Comments</label>
                                        <textarea class="form-control" name="review[comment]" id="comment" cols="30"
                                            rows="5" required></textarea>
                                        <div class="invalid-feedback">Please add some comments for review</div>
                                    </div>
                                    <div
                                        class="show-btns d-flex flex-column flex-md-row justify-content-center gap-2 gap-md-3">
                                        <button class="btn btn-dark">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <% } %>

                                <div class="col-6 offset-3">
                                    <hr>
                                </div>
                                <% if(listing.reviews.length> 0){ %>
                                    <div class="  mt-3">
                                        <h4>All Reviews</h4>
                                        <div class="row justify-content-left">
                                            <% for (let review of listing.reviews) { %>
                                                <div class="col-12 col-md-6 col-lg-6 d-flex mt-3">
                                                    <div class="card mb-1 flex-grow-1">
                                                        <div
                                                            class="card-body d-flex flex-column justify-content-between">
                                                            <div>
                                                                <h5 class="card-title">
                                                                    <i class="fa-solid fa-circle-user fa-lg"
                                                                        style="color: #ff0000;">&nbsp;</i>
                                                                    <i>
                                                                        <%= review.author.username %>
                                                                    </i>
                                                                </h5>
                                                                <p class="starability-result card-text"
                                                                    data-rating=<%=review.rating %>></p>
                                                                <p class="card-text review-comment">
                                                                    <%= review.comment %>
                                                                </p>
                                                            </div>
                                                            <% if(currUser && currUser._id.equals(review.author._id)){
                                                                %>
                                                                <form
                                                                    action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                                    method="POST">
                                                                    <button
                                                                        class="btn btn-sm btn-danger mt-2">Delete</button>
                                                                </form>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="col-6 offset-3">
                                        <hr>
                                    </div>

                                    <% } %>
                                        <div class="  mt-3">
                                            <h4>What this place offers</h4>
                                            <div class="offers">
                                                <i class="ri-restaurant-line"><span> Kitchen</span></i>
                                                <i class="ri-car-fill"><span> Parking</span></i>
                                                <i class="ri-t-shirt-air-fill"><span> Air conditioning</span></i>
                                                <i class="ri-tv-2-line"><span> TV</span></i>
                                                <i class="ri-vidicon-line"><span> Security cameras</span></i>
                                                <i class="ri-wifi-line"><span> Wifi</span></i>
                                            </div>
                                            <div class="d-flex justify-content-center mt-2">
                                                <button id="offers" type="button" class="btn btn-dark"
                                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    Show all amenities
                                                </button>
                                            </div>

                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">What
                                                                this
                                                                place offers</h1>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <h5>Scenic views</h5>
                                                                <li>Lake view</li>
                                                                <li>Mountain view</li>
                                                                <li>Pool view</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Bathrooms</h5>
                                                                <li>Cleaning products</li>
                                                                <li>Shampoo</li>
                                                                <li>Hot Water</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Bedroom and laundry</h5>
                                                                <li>Essentials</li>
                                                                <li>Hangers</li>
                                                                <li>Bed linen</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Entertainment</h5>
                                                                <li>TV with standard cable/satellite</li>
                                                                <li>Sound system with Bluetooth and aux</li>
                                                                <li>Pool table</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Outdoor</h5>
                                                                <li>Patio or balcony</li>
                                                                <li>Garden</li>
                                                                <li>Hammock</li>
                                                                <li>Firepit</li>
                                                                <li>BBQ grill</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Kitchen and dining</h5>
                                                                <li>Dishes and cutlery</li>
                                                                <li>Barbecue utensils</li>
                                                                <li>Dining table</li>
                                                                <li>Freezer</li>
                                                                <hr />
                                                            </ul>
                                                            <ul>
                                                                <h5>Locations Features</h5>
                                                                <li>Waterfront</li>
                                                                <p>Right next to a body of water</p>
                                                                <li>Lake access</li>
                                                                <p>Guests can get to a lake using a path or dock</p>
                                                                <li>Private entrance</li>
                                                                <p>Separate street or building entrance</p>
                                                            </ul>
                                                            <ul>
                                                                <h6>and many more...</h6>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-center">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 offset-3">
                                            <hr>
                                        </div>

                                        <div class="  mt-3" id="services">
                                            <h4>Add-on services</h4>
                                            <p>
                                                After booking this home, a trip designer can arrange any of these
                                                add-on
                                                services.
                                            </p>
                                            <div class="offers">
                                                <i class="ri-flight-takeoff-fill"><span> Airport Transfer</span></i>
                                                <i class="ri-goblet-line"><span> Butler</span></i>
                                                <i class="ri-luggage-cart-fill"><span> Pre-stocking</span></i>
                                                <i class="ri-hand-sanitizer-fill"><span> Cleaning</span></i>
                                            </div>
                                        </div>
                                        <div class="col-6 offset-3">
                                            <hr>
                                        </div>

                                        <div class="  mt-3 mb-3">
                                            <h4>Where you'll be</h4>
                                            <div id="map">
                                            </div>
                                        </div>
            </div>
        </div>
        <script src="/js/map.js"></script>
    </body>